<footer>
  <div class="size-default">
    <address>
      <p>MK Avocat</p>
      <p>2 Boulevard du Général Leclerc <br>68000 COLMAR</p>
      <a href="tel:+33389206280">{{ site.t.[site.active_lang].contact.tel_number }}</a>
    </address>
    <div>
      <a href="">Droit du travail</a>
      <a href="">Droit pénal</a>
      <a href="">Droit de la famille</a>
      <a href="">Procédures civiles</a>
    </div>
    <div>
      <a href="">Honoraires</a>
      <a href="">A propos</a>
    </div>
    <div>
      <a href="">Mentions Légales</a>
      <p>Crédit: Ruppert</p>
    </div>
  </div>
</footer>
