<nav id="nav">
{% case site.active_lang %}
  {% when "fr" %}
    {% assign items = site.data.nav | shift %}
    <ul>
    {% if page.url == "/" %}
      <li><h1><a href="{{site.data.nav[0].link}}"><img src="{{site.url}}/assets/images/logo-MK-white-min.png" class="logo" alt="{{ site.data.nav[0].name }}"></a></h1></li>
    {% else %}
      <li><a href="{{site.data.nav[0].link}}"><img src="{{site.url}}/assets/images/logo-MK-white-min.png" class="logo" alt="logo marie kochersperger avocat colmar"></a></li>
    {% endif %}

    {% for item in items %}
      {% if item.name == "Compétences" %}
        <li class="sub">
          <a href="{{ item.link }}">{{ item.name }}
          </a>
          <ol>
            <li><a href="#">Droit pénal</a></li>
            <li><a href="#">Droit de la famille</a></li>
            <li><a href="#">Droit du travail</a></li>
            <li><a href="#">Procédures civiles</a></li>
          </ol>
        </li>
      {% else %}
        <li><a href="{{ item.link }}">{{ item.name }}</a></li>
      {% endif %}
    {% endfor %}
    <div>
      {% if site.active_lang == "fr" %}
        <li><a href="{{ site.url }}" class="lang-active">FR</a></li>
        <span>|</span>
        <li><a href="{{ site.url }}/de">DE</a></li>
      {% elsif site.active_lang == "de" %}
        <li><a href="{{ site.url }}" class="">FR</a></li>
        <span>|</span>
        <li><a href="{{ site.url }}/de" class="lang-active">DE</a></li>
      {% else %}
      {% endif %}
    </div>
    <li><a href="#contact" class="link-contact">Contact | {{ site.t.[site.active_lang].contact.tel_number }}</a></li>
    </ul>
  {% when "de" %}
    {% assign items = site.data.nav | shift %}
    <ul>
    {% if page.url == "/" %}
      <li><h1><a href="{{ site.data.nav[0].link }}"><img src="{{site.url}}/assets/images/logo-MK-white-min.png" class="logo" alt="{{ site.data.nav[0].name }}"></a></h1></li>
    {% else %}
      <li><a href="{{ site.data.nav[0].link }}"><img src="{{site.url}}/assets/images/logo-MK-white-min.png" class="logo" alt="logo marie kochersperger avocat colmar"></a></li>
    {% endif %}

    {% for item in items %}
      {% if item.name == "Kompetenzen" %}
        <li class="sub">
          <a href="{{ item.link }}">{{ item.name }}
          </a>
          <ol>
            <li><a href="#">Droit pénal</a></li>
            <li><a href="#">Droit de la famille</a></li>
            <li><a href="#">Droit du travail</a></li>
            <li><a href="#">Procédures civiles</a></li>
          </ol>
        </li>
      {% else %}
        <li><a href="{{ item.link }}">{{ item.name }}</a></li>
      {% endif %}
    {% endfor %}
    <div>
      {% if site.active_lang == "fr" %}
        <li><a href="{{ site.url }}" class="lang-active">FR</a></li>
        <span>|</span>
        <li><a href="{{ site.url }}/de">DE</a></li>
      {% elsif site.active_lang == "de" %}
        <li><a href="{{ site.url }}" class="">FR</a></li>
        <span>|</span>
        <li><a href="{{ site.url }}/de" class="lang-active">DE</a></li>
      {% else %}
      {% endif %}
    </div>
    <li><a href="#contact" class="link-contact">Kontakt | {{ site.t.[site.active_lang].contact.tel_number }}</a></li>
    </ul>
  {% else %}
{% endcase %}
</nav>
