<section id="skills">
  <div class="size-default">
    <h2>Compétences & champs d'intervention</h2>
    <div class="grid-skills">
      <div class="skill left">
        <h3>Droit du travail et social</h3>
        <div class="text">
          <img src="{{site.url}}/assets/images/ld-1-b-min.jpg"/>
          <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat.nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat.nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat.</p>
          <a href="#" class="btn">En savoir plus</a>
        </div>
      </div>
      <div class="skill right">
        <h3>Droit Pénal Général</h3>
        <div class="text">
          <img src="{{site.url}}/assets/images/ld-2-b-min.jpg"/>
          <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor.</p>
          <a href="#" class="btn">En savoir plus</a>
        </div>
      </div>
      <div class="skill left">
        <h3>Droit de la famille, des personnes et de leur patrimoine</h3>
        <div class="text">
          <img src="{{site.url}}/assets/images/ld-3-b-min.jpg"/>
          <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor.</p>
          <a href="#" class="btn">En savoir plus</a>
        </div>
      </div>
      <div class="skill right">
        <h3>Procédures civiles</h3>
        <div class="text">
          <img src="{{site.url}}/assets/images/ld-b-4-min.jpg"/>
          <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor.</p>
          <a href="#" class="btn">En savoir plus</a>
        </div>
      </div>
    </div>
  </div>
</section>
