<section id="skills">
  <div class="size-default">
    <h2>Compétences & champs d'intervention</h2>
    <div class="grid-skills">
      <div class="skill left">
        <img src="/assets/images/ladies-justice-b-2-min.jpg"/>
        <div class="text">
          <h3>Droit du travail et social</h3>
          <p>
            <ul>
              <li>Conseil en matière de temps et de conditions de travail, sécurité ou hygiène, harcèlement</li>
              <li>Actions pour licenciement sans cause réelle et sérieuse, licenciement pour faute,…</li>
              <li>Défense des salariés et sécurisation des employeurs lors de procédures disciplinaires</li>
              <li>Représentation et négociation des intérêts des salariés avec l'employeur</li>
              <li>Conseil et représentation devant le Conseil des Prud'hommes en demande ou en défense</li>
              <li>Accompagnement des employeurs en droit social et défense devant le CPH</li>
              <li>Assistance relatives aux questions de congé maternité, congé parental </li>
              <li>Contentieux relatifs à l’exécution ou aux modifications d’un contrat de travail, absences</li>
              <li>Mise en cause pénale du dirigeant lors d’accidents du travail et de maladies professionnelles</li>
              <li>Rédaction et analyse de contrats de travail (CDI, CDD …),</li>
              <li>Calcul et négociation d’indemnités de départ lors de la rupture du contrat de travail</li>
            </ul>
          </p>
        </div>
      </div>
      <div class="skill right">
        <img src="/assets/images/ladies-justice-b-1-min.jpg" width="" />
        <div class="text">
          <h3>Droit Pénal Général</h3>
          <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum.</p>
        </div>
      </div>
    </div>
    <a href="#" class="btn">Contact</a>
    <img src="/assets/images/ladies-justice-b-1-min.jpg"/>
  </div>
</section>
