<section id="skills">
  <div class="size-default">
    <h2>Compétences & champs d'intervention</h2>
    <div class="grid-skills">
      <div class="skill left">
        <img src="/assets/images/ladies-justice-b-2-min.jpg"/>
        <div class="text">
          <h3>Droit du travail et social</h3>
          <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum.</p>
        </div>
      </div>
      <div class="skill right">
        <img src="/assets/images/ladies-justice-b-1-min.jpg" width="" />
        <div class="text">
          <h3>Droit du travail et social 2</h3>
          <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum.</p>
        </div>
      </div>
    </div>
    <a href="#" class="btn">Contact</a>
    <img src="/assets/images/ladies-justice-b-1-min.jpg"/>
  </div>
</section>
