#actus {
  padding: 70px 0px;
  div:nth-child(2) {
    border: solid;
    display: flex;
    justify-content: space-between;
  }
}
.articles {
  border: solid 1px;
  list-style: none;
  padding: 0px;
  display: flex;
  a { border: solid 1px red; width: 33%; }
}
