.banner {
  background-image: url("../images/header-mk.jpg");
  background-position-y: center;
  //position: relative;
  height: 80vh;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
  .banner-content {
    p { font-size: 2em; }
    span { font-size: 1.5em; }
    font-family: "Avenir";
  }
  .logo-banner {
    width: 250px;
    height: auto;
  }
  margin-bottom: 2em;
}
