.banner {
  background-image: url("{{ site.baseurl }}/assets/images/header-mk.jpg");
  background-position-y: center;
  //position: relative;
  height: 300px;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
  display: flex;
  justify-content: center;
  align-items: center;
  .logo-banner {
    width: 150px;
    height: auto;
  }
  margin-bottom: 2em;
}
