#contact-form {
  background-color: $yellow;
  width: 100%;
  margin: auto;
  display: flex;
  font-size: 1.2em;
  justify-content: space-between;
  min-height: 50vh;
  #fs-frm {
    max-width: 1024px;
    margin: auto;
    #fs-frm-inputs {
    border: none;
    padding: 0px;
    display: flex;
    flex-direction: column;
  }
  }
}
