#contact {
  //background-color: $yellow;
  h2 { text-align: center; line-height: 3.5em; }
  a { text-decoration: none; color: black; }
  width: 100%;
  margin: auto;
  font-size: 1.2em;
  justify-content: space-between;
  min-height: 50vh;
  -webkit-box-sizing: border-box; /* Safari/Chrome, other WebKit */
  -moz-box-sizing: border-box;    /* Firefox, other Gecko */
  box-sizing: border-box;
  div { width: 100%; }
  form {
    -webkit-appearance: none;
    -webkit-box-sizing: border-box; /* Safari/Chrome, other WebKit */
    -moz-box-sizing: border-box;    /* Firefox, other Gecko */
    box-sizing: border-box;
    padding: 30px;
    width: 100%;
    input, label, textarea, button {
      width: 100%; font-size: 1em; font-family: "Avenir";
      box-sizing: border-box;
    }
    label { font-weight: bold; }
    input, textarea { margin-bottom: 10px; border: solid 1px lightgrey; }
    p { margin: 0px; }
  }
  .flex { display: flex; }
  #coordinates { padding: 30px;
    -webkit-box-sizing: border-box; /* Safari/Chrome, other WebKit */
    -moz-box-sizing: border-box;    /* Firefox, other Gecko */
    box-sizing: border-box;
    ul {
      list-style: none;
      padding: 0px;
    }
    .horaires { text-decoration: underline; }
    //margin: 0px 15px;
  }
  button { line-height: 2.5em; width: 100%; background-color: $black; color: white; }
  button:hover { opacity: 0.8; }
  [type="checkbox"] { width: auto; }
  .rgpd {
    margin-bottom: 10px;
    label { font-weight: normal; font-size: 0.8em; }
  }
  .wrapper, .orange {
    -webkit-box-sizing: border-box; /* Safari/Chrome, other WebKit */
    -moz-box-sizing: border-box;    /* Firefox, other Gecko */
    box-sizing: border-box;
  }
}
.social { width: 2.5em; display: block; margin: 0.5em 0px; }

#contact-page {
  display: flex;
  height: 100%;
  width: 100%;
  section {
    min-height: 100%;
    width: 100%;
    max-width: 100%;
    //max-height: 100%;
    //-webkit-box-sizing: border-box; /* Safari/Chrome, other WebKit */
    //-moz-box-sizing: border-box;    /* Firefox, other Gecko */
    //box-sizing: border-box;
  }
  section:first-of-type {
    background-image: url("https://as1.ftcdn.net/jpg/03/13/82/98/500_F_313829814_WGIuCKUzF0usj5YMs7CY1I7dh4LIC3QY.jpg");
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    //min-height: 100%;
    //position: fixed;
  }
  section:last-of-type {
    width: 100%;
    padding: 3em;
    form {
      padding: 0px;
      div { display: flex; justify-content: space-between; }
      p {
        font-size: 0.8em;
        padding: 5px;
        -webkit-box-sizing: border-box; /* Safari/Chrome, other WebKit */
        -moz-box-sizing: border-box;    /* Firefox, other Gecko */
        box-sizing: border-box;
      }
      label { font-weight: lighter; }
      input { border: none; border-bottom: solid 1px lightgrey;
      }
    }
    img {
      width: 7em;
    }
    h1 { margin: 1em 0;}
    @extend #contact;
  }
}
