//$yellow: #E5C25E;
//$pink: #E55E81;
//$green: #50E3C2;
//$black: #344151;

$yellow: #e9c46a;
$orange: #f4a261;
$red: #e76f51;
$green: #2a9d8f;
$black: #264653;

.current {
  color: green;
}
html {
  scroll-behavior: smooth;
  font-family: 'Avenir';
  font-size: 1em;
}
body {
  //background-color: $yellow;
  margin: 0px;
  padding: 0px;
}
article {
  //max-width: 1024px;
}
.size-default, h1, h2, footer, nav { max-width: 1024px; margin: auto; width: 1024px; }
h2 { font-weight: normal; }
.colmar {
  //border: solid 1px;
  padding: 100px 0px;
  display: flex;
  justify-content: space-between;
  div {
    background-color: $yellow;
    width: 50%;
    height: 250px;
    position: relative;
    img {
      height: 250px;
      width: auto;
      position: absolute;
      right: -50px;
      top: 50px;
    }
  }
}
.marie {
  width: 30% !important;
  background-color: $red !important;
}
.accroche {
  font-family: 'Caveat', cursive;
  font-size: 1.8em;
  strong { font-weight: normal; }
}
