//$yellow: #E5C25E;
//$pink: #E55E81;
//$green: #50E3C2;
$black: #344151;

$yellow: #e9c46a;
$orange: #f4a261;
$red: #e76f51;
$green: #2a9d8f;
//$black: #264653;

.current {
  color: green;
}
html {
  scroll-behavior: smooth;
  font-family: 'Avenir';
  font-size: 1em;
}
body {
  //background-color: $yellow;
  margin: 0px;
  padding: 0px;
}
article {
  //max-width: 1024px;
}
.size-default, h1, h2 { max-width: 1024px; margin: auto; width: 100%; }
.banner {
  img {
    margin: auto;
    object-fit: cover;
    height: 50vh;
    width: 100%;
  }
}
h2 { font-weight: normal; }
.colmar {
  //border: solid 1px;
  padding-bottom: 100px;
  display: flex;
  justify-content: space-between;
  position: relative;
  .back {
    position: absolute;
    opacity: 0.1;
    bottom: 0px;
    right: 0px;
  }
  div {
    background-color: $yellow;
    width: 50%;
    height: 300px;
    position: relative;
    img {
      height: 300px;
      width: auto;
      position: absolute;
      right: -50px;
      top: 25px;
    }
  }
}
.marie {
  display: flex;
  justify-content: space-between;
  //background: no-repeat url("../images/K-black-min.png");
  //background-position: left bottom;
  padding-bottom: 100px;
  position: relative;
  .logo-marie { visibility: hidden; }
  .back {
    position: absolute;
    opacity: 0.1;
    bottom: -70px;
  }
  .accroche {
    max-width: 500px; width: 100%;
  }
  div {
    background-color: $red !important;
    min-width: 250px;
    height: 250px;
    position: relative;
    img {
      height: 250px;
      position: absolute;
      right: 30px;
      bottom: -25px;
    }
  }
}
.accroche {
  font-family: 'Kalam', cursive;
  //font-family: 'Poiret One', cursive;
  font-size: 1.5em; word-break: break-word;
  -webkit-box-sizing: border-box; /* Safari/Chrome, other WebKit */
  -moz-box-sizing: border-box;    /* Firefox, other Gecko */
  box-sizing: border-box;
  strong { font-weight: normal; }
  &.second {
    background-color: transparent;
    font-size: 1.8em;
    width: 40%;
    display: flex;
    flex-direction: column;
    p { text-align: center; }
    button {
      display: block;
      margin: 0px auto;
    }
  }
}
.mapxbox {
  display: block; width: 100%; margin: auto; max-height: 50vh; object-fit: cover;
}
.map-links { display: none; }
.shadow {
  box-shadow: 0 1px 3px rgba(0,0,0,0.12), 0 1px 2px rgba(0,0,0,0.24);
}
