/*------------------------------------------
  Responsive Grid Media Queries - 1280, 1024, 768, 480
   1280-1024   - desktop (default grid)
   1024-768    - tablet landscape
   768-480     - tablet
   480-less    - phone landscape & smaller
--------------------------------------------*/
@media all and (min-width: 1024px) and (max-width: 1280px) { }

@media all and (min-width: 768px) and (max-width: 1024px) { }

@media all and (min-width: 480px) and (max-width: 768px) { }

@media all and (max-width: 480px) {
}

/*------------------------------------------
  Foundation Media Queries
   http://foundation.zurb.com/docs/media-queries.html
--------------------------------------------*/

/* Small screens - MOBILE */
@media only screen { } /* Define mobile styles - Mobile First */

@media only screen and (max-width: 40em) {
  main { padding-top: 50px; }
  #nav { visibility: hidden; height: 0; }
  .header { visibility: visible; }
  .size-default {}
  .grid-skills {
    display: block;
    .skill {
      width: 100%;
      //max-width: 100%;
    }
  }
  .marie {
    display: flex; flex-direction: column-reverse;
    div > img {
      height: 230px;
      right: 20px;
      bottom: 0px;
    }
    div {
      position: relative;
      .logo-marie > img, h2 {
        visibility: visible;
        width: 120px;
        height: auto;
        position: absolute;
        bottom: 35%;
        left: 20px;
        right:10;
        opacity: 0.9;
        //margin: auto;
      }
      .logo-marie > h2 {
        width: auto;
        bottom: 20%;
        color: white;
      }
    }
  }
  .accroche {
    width: 100%;
    //padding: 0px 10px;
    font-size: 1.5em;
    padding: 15px;
  }
  .colmar {
    padding: 50px 0px;
    div { width: 100%; height: 200px; margin-bottom: 3em;
      img {
        height: auto;
        width: 80%;
        right: 0px;
        bottom: 0;
      }
    }
    display: flex;
    flex-direction: column;
  }
  .accroche.second {
    width: 100%;
    max-width: 100%;
    justify-content: center;
  }
  #skills {
    padding: 10px 15px 70px 15px;
    h2 { text-align: center; padding: 25px 0px; }
  }
  .skill {
    width: 100%; max-width: 100%; display: inherit;
    h3 { clear: both; }
    //img { height: 250px; width: auto; padding: 10px; }
    .text { padding: 0px;
      img { width: auto; height: 200px; display: block; margin: auto; margin: 10px; }
    }
  }
  #actus {
    padding: 15px !important;
    h2 { text-align: center; }
    .articles {
      padding: 15px 0px;
      display: flex;
      flex-direction: column;
      min-height: auto;
    }
    .articles {
      a {
        p { position: absolute; z-index: 2;}
      }
      img { opacity: 1; }
    }
  }
  #contact {
    -webkit-box-sizing: border-box; /* Safari/Chrome, other WebKit */
    -moz-box-sizing: border-box;    /* Firefox, other Gecko */
    box-sizing: border-box;
    & > div { flex-direction: column; }
    #fs-frm {
      -webkit-box-sizing: border-box; /* Safari/Chrome, other WebKit */
      -moz-box-sizing: border-box;    /* Firefox, other Gecko */
      box-sizing: border-box;
    }
    .shadow {
      box-shadow: none;
    }
  }
  footer {
    padding: 30px 15px;
    -webkit-box-sizing: border-box; /* Safari/Chrome, other WebKit */
    -moz-box-sizing: border-box;    /* Firefox, other Gecko */
    box-sizing: border-box;
  }
} /* max-width 640px, mobile-only styles, use when QAing mobile issues */

/* Medium screens - TABLET */
@media only screen and (min-width: 40.063em) { } /* min-width 641px, medium screens */

@media only screen and (min-width: 40.063em) and (max-width: 64em) { } /* min-width 641px and max-width 1024px, use when QAing tablet-only issues */

/* Large screens - DESKTOP */
@media only screen and (min-width: 64.063em) { } /* min-width 1025px, large screens */

@media only screen and (min-width: 64.063em) and (max-width: 90em) { } /* min-width 1024px and max-width 1440px, use when QAing large screen-only issues */

/* XLarge screens */
@media only screen and (min-width: 90.063em) { } /* min-width 1441px, xlarge screens */

@media only screen and (min-width: 90.063em) and (max-width: 120em) { } /* min-width 1441px and max-width 1920px, use when QAing xlarge screen-only issues */

/* XXLarge screens */
@media only screen and (min-width: 120.063em) { } /* min-width 1921px, xlarge screens */

/*------------------------------------------*/



/* Portrait */
@media screen and (orientation:portrait) { /* Portrait styles here */ }
/* Landscape */
@media screen and (orientation:landscape) { /* Landscape styles here */ }


/* CSS for iPhone, iPad, and Retina Displays */

/* Non-Retina */
@media screen and (-webkit-max-device-pixel-ratio: 1) {
}

/* Retina */
@media only screen and (-webkit-min-device-pixel-ratio: 1.5),
only screen and (-o-min-device-pixel-ratio: 3/2),
only screen and (min--moz-device-pixel-ratio: 1.5),
only screen and (min-device-pixel-ratio: 1.5) {
}

/* iPhone Portrait */
@media screen and (max-device-width: 480px) and (orientation:portrait) {
}

/* iPhone Landscape */
@media screen and (max-device-width: 480px) and (orientation:landscape) {
}

/* iPad Portrait */
@media screen and (min-device-width: 481px) and (orientation:portrait) {
}

/* iPad Landscape */
@media screen and (min-device-width: 481px) and (orientation:landscape) {
}



/*------------------------------------------
  Live demo samples
   - http://andrelion.github.io/mediaquery/livedemo.html
--------------------------------------------*/
