#skills {
  //width: 100%;
  background-color: $black;
  //height: 50vh;
  color: white;
  padding: 60px 0px;
  p {}
}
.grid-skills {
  display: flex;
  flex-wrap: wrap;
}
.skill {
  //border: solid 1px white;
  width: 50%;
  h3 {}
  img {
    height: 220px;
    margin: 0px;
  }
  .text {
    padding: 0px 20px;
    p {}
  }
  &.left {
    img { float: left; }
  }
  &.right {
    //background: no-repeat url("../images/ladies-justice-b-1-min.jpg");
    //background-position: left bottom 45%;
    img {
      height: 300px;
      float: right;
    }
  }
}
