#skills {
  //width: 100%;
  background-color: $black;
  //height: 50vh;
  color: white;
  padding: 70px 0px;
  p {}
}
.grid-skills {
  display: flex;
  flex-wrap: wrap;
  margin-top: 2em;
}
.skill {
  //border: solid 1px white;
  width: 50%;
  h3 {}
  img {
    height: 220px;
    margin: 0px;
  }
  .text {
    padding: 0px 20px;
    p {}
  }
  &.left {
    img { float: left; }
  }
  &.right {
    //background: no-repeat url("../images/ladies-justice-b-1-min.jpg");
    //background-position: left bottom 45%;
    img {
      height: 300px;
      float: right;
    }
  }
}
.skills-page {
  h1 { text-align: center; }
  .articles {
    column-gap: 1em;
    row-gap: 1em;
    li {
      @extend .shadow;
      min-height: 60vh;
      padding: 1em;
      h2 { text-align: center; font-weight: 500; border-bottom: solid 1px lightgrey; }
    }
  }
}
